
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<script src="{% static 'polls/jquery.min.js' %}"></script>

<script src="{% static 'polls/json2-min.js' %}"></script>

<script src="{% static 'polls/jquery.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'polls/shiny.css' %}"  />

<script src="{% static 'polls/shiny.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'polls/font-awesome/css/font-awesome.min.css' %}" />



<!--
<html>
<head>


  <script src="static/polls/jquery.min.js"></script>  

</head>
-->


<div>
Start of the page here
</div>

{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    <li><a href="/polls/{{ question.id }}/"> {{ question.question_text }} </a> </li>
  {% endfor %}
  </ul>

{% else %}
  <p>No polls are available.</p>
{% endif %}

