
{% load static %}


<script src="{% static 'polls/js/jquery.min.js' %}"></script>
<script src="{% static 'polls/js/json2-min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/shiny.css' %}"  />
<script src="{% static 'polls/js/shiny.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/font-awesome.min.css' %}" />


<link href="polls/css/vis-4.17.0/vis.css" rel="stylesheet" />
<script src="polls/js/vis-4.17.0/vis.min.js"></script>
<script src="polls/js/visNetwork-binding-1.0.3/visNetwork.js"></script>
<script src="polls/js/datatables-binding-0.2/datatables.js"></script>
<link href="polls/css/leaflet-0.7.7/leaflet.css" rel="stylesheet" />
<script src="polls/js/leaflet-0.7.7/leaflet.js"></script>
<link href="polls/css/leafletfix-1.0.0/leafletfix.css" rel="stylesheet" />
<link href="polls/css/leaflet-label-0.2.2/leaflet.label.css" rel="stylesheet" />
<script src="polls/js/leaflet-label-0.2.2/leaflet.label.js"></script>


<!--
<html>
<head>


  <script src="static/polls/jquery.min.js"></script>  

</head>
-->


<div>
Start of the page here
</div>

{% if latest_question_list %}
  <ul>
  {% for question in latest_question_list %}
    <li><a href="/polls/{{ question.id }}/"> {{ question.question_text }} </a> </li>
  {% endfor %}
  </ul>

{% else %}
  <p>No polls are available.</p>
{% endif %}

